// Copyright 2020 Alex Dunn <dunn.alex@gmail.com>
//
// This file is part of read-thing.
//
// read-thing is free software: you can redistribute it and/or modify
// it under the terms of the GNU Affero General Public License as published
// by the Free Software Foundation, either version 3 of the License,
// or (at your option) any later version.
//
// read-thing is distributed in the hope that it will be useful, but
// WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero
// General Public License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with read-thing.  If not, see <http://www.gnu.org/licenses/>.
//
// ******************************************************************

@import 'CSS:../node_modules/normalize.css/normalize';

$dimmed: #808080;
$break: 600px;

$error: #f00;
$contrast: #fff;
$warning: #ffa500;

// apply a natural box layout model to all elements
// http://www.paulirish.com/2012/box-sizing-border-box-ftw/
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: Georgia, serif;
  font-size: 16pt;
}

main {
  padding: 0 2%;
}

footer {
  text-align: center;
}

h1 {
  font-size: 300%;
}

h2 {
  font-size: 225%;
}

h3 {
  font-size: 150%;
}

h4 {
  font-size: 131.25%;
}

h5,
h6 {
  font-size: 112.5%;
}

input {
  color: $dimmed;
  font-style: italic;
  font-weight: light;
}

[type='file'] {
  padding-left: 1em;
}

.error {
  font-weight: bold;
}

.flash {
  margin: 0;
  padding: .25rem 0;
  text-align: center;

  &.error {
    background-color: $error;
    color: $contrast;
  }

  &.warning {
    background-color: $warning;
  }
}

/////////////////////
// Markdown styling
/////////////////////

hr {
  border: 0;
  padding-bottom: 1em;

  &:before {
    content: '▼';
    padding-left: 47%;
  }
}

@media screen and (min-width: $break) {
  .thing {
    padding: 0 20%;
  }
}
