<hr />
<footer><a href="https://computer.crimes.consulting/cat/read-thing">Source code</a> released under the <a href="https://www.gnu.org/licenses/agpl-3.0.html">AGPL</a>.</footer>
</body>
<script type="text/javascript" src="/js/app.js"></script>
</html>
